@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Permic&display=swap');
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Noto Sans Old Permic', sans-serif; */
.wrapper{
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  height: 85vh;
  padding-top: 15vh;

}
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.home-content{
  margin-top: 15%;
}
.home-content h1{
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(90deg, #0f6497, #6fc2f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
}
.home-content p{
    font-size: 1.3rem;
    margin-top: -30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #5f6e83;
    
}
.home-content  a{
    margin-top: 5px;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    border: 2px solid #3bbdf7;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease 0s;
}
.home-content a:hover{
    font-weight: bold;
    color: black;
    background: #3bbdf7;
    transform: translateY(-10px);
}
.home-content {
    animation: fadeInLeft 1s ease-in-out;
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@media(min-width: 1537px){
  .home-content{
    margin-left: 40px;
  }
  .home-content h1{
    font-size: 50px;
  }
  .home-content p{
    font-size: 25px;
  }
  .home-content a{
    margin-top: -5px;
    padding: 20px 35px;
    font-size: 20px;
  }
}
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
    .home-content{
      margin-left: 20px;
    }
    .home-content h1{
      font-size: 50px;
    }
    .home-content p{
      font-size: 25px;
    }
    .home-content a{
      margin-top: -5px;
      padding: 20px 35px;
      font-size: 20px;
    }
}
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
    .home-content{
      margin-left: 40px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
      margin-left: 10px;
      margin-right: 5px;
    }
    .wrapper{
      height: 100vh;
    }
    .home-content{
      margin-top: 100px;
    }
    .home-content h1{
      font-size: 50px;
    }
    .home-content p {
      font-size: 25px;
      padding-top: -20px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .wrapper{
      height: 200vh;
    }
    .home-content{
      margin-top: 400px;
    }
    .home-content h1{
      font-size: 70px;
  
    }
    .home-content p {
      margin-top: -50px;
      font-size: 40px;
      letter-spacing: 1.5px;
      line-height: 2.7rem;
    }
    .home-content a{
      margin-top: 5px;
      font-size: 30px;
      padding: 25px 40px;
      text-decoration: none;
      border-radius: 10px;
    }
  }