
.projects-wrapper{
    width: 100%;
    height: 85vh;
    padding-top: 15vh;
}
.projects-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
hr{
    border-color:#3bbdf7;
    width: 200px;
    margin-left: 20px;
}
.projects-header h1{
    font-family: 'Noto Sans Old Permic', sans-serif;
    color: #3bbdf7;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.project{
    display: flex;
    margin-top: 9%;
    padding-left: 50px;
    padding-right: 200px;
}
.project-desc{
    margin-left: -20px;
    margin-top: -90px;
}
.project-desc h1{
    letter-spacing: 3px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    color: #3bbdf7;
}
.project-desc h3{
    margin-top: -80px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
    -webkit-text-fill-color: #0e162a;
    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color:#3bbdf7;
}
.project-desc p{
    margin-top: -30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #5f6e83;
    letter-spacing: 2px;
}

.project-image{
    margin-right: -280px;

}
.project-image img{
    margin-top: -60px;
    width: 800px;
    height: 500px;
    transition: transform 0.1s ease 0s;
}
.icon img{
    height: 50px;
    width: 50px;
    padding: 0px 10px 10px 5px;
    filter: invert(100%);
}
.project-image img:hover{
    transform: scale(1.01);
}
.animate-proj{
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.animate-proj.active{
    opacity: 1;
    transform: translateY(0);
}

@media(min-width: 1537px){
    .container{
        min-width: 1280px;
    }
    .project-desc{
        margin-top: -100px;
    }
    .project-desc p{
        font-size: 25px;
        letter-spacing: 2px;
    }
    .project-image{
        margin-right: -200px;
    }
}

@media(max-width: 1280px){
    .container{
        min-width: 1024px;
    }
    .projects-wrapper{
        height: 100vh;
    }
    .project-image img{
        margin-right: 50px;
        max-width: 550px;
    }
    .project-desc h1{
        font-size: 50px;
    }
    .project-desc h3{
        margin-top: -50px;
        font-size: 30px;
    }
}


@media (max-width:1024px){
    .container{
        min-width: 768px;
    }
    .projects-wrapper{
        padding-top: 150px;
        height: 100vh;
    }
    .project{
        display: block;
        margin-top: 20px;
    }
    .project-desc{
        display: inline-block;
        width: 700px;
        margin-left: -10px;
        padding: 10px;
    }
    .project-image{
        margin-top: 30px;
        margin-left: 60px;
    }
    .project-image img{
        height: 400px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 475px;
    }
    .projects-header{
        margin-top: 50px;
        margin-left: 50px;
    }
    .project-desc{
        margin-top: -50px;
    }
    .project-image img{
        margin-top: -30px;
        margin-left: 40px;
    }
}
@media(max-width:640px){
    .container{
        max-width: 475px;
    }
    .projects-wrapper{
        height: 100vh;
    }
    .project-desc p{
        font-size: 20px;
    }
}
@media (max-width:476px){
    .projects-wrapper{
        padding-top: 100px;
        height: 200vh;

    }
    .projects-header h1{
            font-size: 25px;
    }
    .project-desc{
        margin-top: -30px;
    }
    .project-desc h1{ 
        font-size: 70px;
    }
    .project-desc h3{ 
        margin-top: -70px;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 2px;
        font-size: 3.4rem;
        -webkit-text-fill-color: #3f6dad;
        -webkit-text-stroke-width: 0.01px;
        -webkit-text-stroke-color: #3f6dad;
        text-shadow: 2px 2px #000;
    }
    .project-desc p{
        font-size: 40px;
        letter-spacing: 2px;
        line-height: 3rem;
    }
    .project-image{
        margin-top: 10px;
    }
    .project-image img{
        height: 500px;
    }
    .icon img{
        height: 70px;
        width: 70px;
    }

}