@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Permic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.skills-wrapper{
    width: 100%;
    height: 90vh;
    padding-top: 15vh;
}
.skills-header{
    margin-right: 50px;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
}
hr{
    border-color:#3bbdf7;
    width: 200px;
    margin-left: 20px;
}
.skills-header h1{
    font-family: 'Noto Sans Old Permic', sans-serif;
    color: #3bbdf7;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.skills-container{
    display: flex;
    margin-top: 15%;
}
.animation-container2{
    margin-top: -80px;
    padding-left: -100px;
    max-width: 100%;
    max-height: 100%;
    transform: scaleX(-1);
}
.skills-content{
    margin-top: -150px;
    padding-left: 50px;
    position: relative;
}
.skills-content h1{
    letter-spacing: 3px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    color: #3bbdf7;
    text-align: left 
}
.skills-content p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #5f6e83;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin-top: -40px;
    width: 700px;
    text-align: left 
}
.skills-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-ico p {
    font-size: 20px;
    padding-top: 30px;
    font-family: 'Noto Sans Old Permic', sans-serif;
    color: #0f6497;
}
.ico-container{
    display:flex;
    justify-content: center;
}
.skill{
    text-align: center;
    margin: 10px;
}
.skill img {
    width: 50px;
    height: 50px;
    filter: invert(100%); 
    padding-bottom: 10px; 
}
.skill span{
    margin-top: 50px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.animate-skill{
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.animate-skill.active{
    opacity: 1;
    transform: translateY(0);
}
.skill{
    position: relative;
}
.skills-bg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    margin-top: -50px;
    justify-content: center;
    flex: 1 ;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 15vw;
    font-family: 'Anton', sans-serif;
    opacity: 0.3;
    z-index: -1;
    letter-spacing: 10px;
}

@media(min-width:1537px){
    .skills-content p{
        font-size: 25px;
        letter-spacing: 2px;
    }
    .ico-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        max-width: 800px;
      }
      
      .ico-container .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .ico-container .skill span {
        margin-top: 5px; 
      }
      .skill img{
        width: 60px;
        height: 60px;
      }
}


@media(max-width:1280px){
    .container{
        min-width: 1024px;
    }
    .animation-container2{
        margin-left: 30px;
    }
}

@media (max-width: 1024px){
    .container{
        max-width: 768px;
    }
    .skills-wrapper{
        padding-top: 200px;
        height: 100vh;
    }

    .bg {
        display: none;
    }
    .skills-container{
        display: block;
    }
    .skills-content{
        margin-top: -60px;
    }
    .skills-content p{
        line-height: 1.8rem;
        font-size: 20px;
    }
    .animation-container2{
        margin-top: 0px;
        max-width: 50%;
        left: 50%;
        transform: translate(50%);

    }
}
@media (max-width:768px){
    .container{
        max-width: 640px;
    }
    .skills-wrapper{
        height: 100vh;
    }
}

@media(max-width: 640px){
    .container{
        max-width: 475px;
    }
}
@media (max-width: 475px){
    .skills-wrapper{
        height: 200vh;
    }
    .skills-header h1{
        font-size: 25px;
    }
    .skills-content{
        margin-top: 50px;
    }
    .skills-content h1{
        font-size: 80px;
    }
    .skills-content p{
        font-size: 40px;
        letter-spacing: 2px;
        line-height: 3rem;
    }

}