@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Permic&display=swap');

.about-wrapper{
    display: flex;
    height: 90vh;
    max-width: 100%;
    padding-top: 50px;
}
.about-header{
    margin-left: 50px;
    display: flex;
    align-items: center;
    margin-top: -10px;
}
hr{
    border-color:#3bbdf7;
    width: 200px;
    margin-right: 20px;
}
.about-header h1{
    font-family: 'Noto Sans Old Permic', sans-serif;
    color: #3bbdf7;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
}
.about-content{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60px;
}
.about-me{
    max-width: 600px;
    margin-top: 5%;
    padding-right: 100px;
}
.about-me h1{
    letter-spacing: 3px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    color: #3bbdf7;

}
.about-me p{    
    font-size: 18px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #5f6e83;
    letter-spacing: 1px;
    line-height: 1.5rem;
}
.animation-container{
    margin-left: 120px;
    margin-top: 30px;
    max-width: 35%;
    max-height: 100%;
}
.socials p{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Noto Sans Old Permic', sans-serif;
    color: #3bbdf7;
}
.socials-ico img {
    padding: 10px 30px 10px 5px;
    transition: transform 0.1s ease 0s;
}
.socials a img:hover{
    transform: scale(1.2);
}
