@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Permic&display=swap');
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Noto Sans Old Permic', sans-serif; */

*{      
    padding: 0;
    margin: 0;
}
.wrapper{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    padding-top: 10vh;
}
.home-detail{
    line-height: 1.5rem;
    letter-spacing: .5px; 
    align-items: center;
    margin-top: -20px;
}
.home-detail h1{
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(90deg, #0f6497, #6fc2f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
}
.home-detail p{
    font-size: 18px;
    padding-top: 10px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #5f6e83;
}
.home-detail a{
    margin-top: 15px;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    border: 2px solid #3bbdf7;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease 0s;
}
.home-detail a:hover{
    font-weight: bold;
    color: black;
    background: #3bbdf7;
    transform: translateY(-10px);
}
.home-detail {
    animation: fadeInLeft 1s ease-in-out;
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}